*.o
*.hi
toma
dist-newstyle/
.ghc.environment.x86_64-linux-8.6.5
install-toma.sh
stack.yaml.lock
.stack-work/
*.zip
*.tgz
coco*/COPS_INF
coco*/sample-problems
coco*/Toma*/bin/LICENSE_Z3
coco*/Toma*/bin/z3
casc*/Axioms
casc*/include-test
casc*/sample-problems
casc*/Toma*/bin/LICENSE_Z3
casc*/Toma*/bin/z3
